---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=en&user=qsrgIKsAAAAJ}}">my Google Scholar profile</a>.</div>
{% endif %}

Here is my [Google Scholar Page](https://scholar.google.com/citations?hl=en&user=qsrgIKsAAAAJ).

2025
------
- Zhu, M.*, * *He, L.* **, Zhao, H., Su, R., Zhang, L., & Hu, B. Same Vaccine, ***Different Voices: A Cross-Modality Analysis of HPV Vaccine Discourse on Social Media***. Proceedings of the International AAAI Conference on Web and Social Media 19.1 (2025): 2317-2333. [link](https://ojs.aaai.org/index.php/ICWSM/article/view/35936) [Homepage](https://heliumnm.github.io/same-vaccine-diff-voices/)

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



